.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  justify-content: center;

  &:not(:last-child) {
    margin: 0 0 15px;
  }
}

.name {
  font-size: 13px;
  color: var(--text);
  margin: 0 0 5px;
  font-weight: 500;
}

.type {
  font-size: 11px;
  color: var(--text);
  opacity: 0.5;
}

.send_button {
  background: var(--highlight);
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  border-radius: 2px;

  &:hover {
    background: var(--highlight-hover);

    svg {
      transform: scale(0.7) translateX(2px);
    }
  }

  &__is_sending {
    svg {
      animation: slideout 1000ms forwards ease-in-out;
    }
  }

  svg {
    transform: scale(0.7) translateX(0);
    height: 20px;
    width: 20px;
    position: absolute;
    top: -1px;
    left: -1px;
    transition: transform 200ms ease;
    opacity: 1;
  }

  path {
    stroke: var(--background);
  }
}

@keyframes slideout {
  45% {
    transform: scale(0.7) translateX(30px); opacity: 1;
  }
  46%, 75% {
    transform: scale(0.7) translateX(0); opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
