.container {
  background: var(--background-deeper);
  color: var(--text);
  font-size: 11px;
  display: flex;
  width: 100%;
  margin: 0 0 5px;
  border-radius: 25px;
  padding: 0 10px 0 12px;
  align-items: center;
  justify-content: center;
  height: 24px;
  user-select: none;
  line-height: 24px;
  font-weight: 600;
}

.dot {
  margin-left: auto;
  height: 6px;
  width: 6px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
}

.dot__is_selected {
  background: var(--green);
}
