.button {
  -webkit-appearance: none;
  background: var(--green);
  border: 0;
  color: #fff;
  height: 30px;
  padding: 0 15px;
  font-weight: 600;
  line-height: 30px;
  font-size: 12px;
  border-radius: 2px;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: var(--green-deeper);
}
