.container {
  padding: 10px;
  position: relative;
  z-index: 1;
}

.saturation {
  display: block;
  height: 100px;
  position: relative;
  cursor: crosshair;
  z-index: 1;
}

.hue {
  height: 10px;
  display: block;
  position: relative;
}

.pointer {
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  height: 9px;
  width: 9px;
  border: 2px solid #fff;
  background-color: #fff;
  transform: translate(-5px, -5px);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  cursor: crosshair;

  &__is_slider {
    transform: translate(-3px, 0px);
    cursor: ew-resize;
    width: 6px;
    border-radius: 1px;
    height: 10px;
  }
}
