.container {
  background: var(--background);
}

.content {
  padding: 22px 20px 10px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 12px;
}

.footer{
  padding: 5px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--footer);
}

.settings {
  margin-left: auto;
  margin-right: 5px;
  opacity: 0.75;
  display: flex;
}

.settings svg {
  stroke: var(--text);
  transform: scale(0.8);
}

.settings:hover{
  opacity: 1;
}
